body{
    background-image: url(../login.museu.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
    display: flex;
    text-align: center;
    align-items: center;
    
    justify-content: center;

}

.titulo1{
    color:rgb(255, 255, 255);
    width: fit-content;
    height: 50px;
}

.quadro1{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 306px;
    background-color: #103440;
    border: 1px black solid;
    padding: 100px;
    border-radius: 30px 0px 0px 30px;
    margin-top: 100px;
    border: none;
}

.campos{
    margin-bottom: 19px;

}

.campos  > input{
    color: rgb(130, 89, 89);
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    outline: 0;
}

.campos > input{
    color: rgb(14, 13, 13);
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    outline: 0;
}

.quadro{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 27%;
    height: 466px;
    background-color: rgb(255, 252, 252);
    border: 1px black solid;
    padding: 20px;
    border-radius: 0px 30px 30px 0px;
    margin-top: 100px;
    border: none;
}

.botao{
    color: rgb(255, 255, 255);
    width: 265px;
    height: 35px;
    font-size: 17px;
    cursor: pointer;
    margin: 3px;
    background-color: #8c2a44;
    border-radius: 4px;
    border: none;
}

.senha{
    color: rgb(153, 0, 0);
    text-decoration: none;
    border: none;
}

.login{
    color: rgb(181, 181, 181);
    text-decoration:dashed ;

}